body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    background-color: #080710; /* Fondo oscuro */
    margin: 0;
    padding-top: 100px; /* Para que no quede pegado */
}

#searchContainer {
    width: 50%;
    text-align: center;
    position: fixed;
    top: 20px;
    background: rgba(255, 255, 255, 0.08);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(8px);
    z-index: 1000;
}

#searchBox {
    width: 70%;
    padding: 12px;
    font-size: 16px;
    border: none;
    border-radius: 25px;
    background: rgba(255, 255, 255, 0.1);
    color: #ffffff;
    outline: none;
    text-align: center;
    transition: background 0.3s;
}

#searchBox::placeholder {
    color: #e5e5e5;
}

#searchBox:focus {
    background: rgba(255, 255, 255, 0.2);
}

#results {
    margin-top: 140px;
    width: 50%;
    background: rgba(255, 255, 255, 0.08);
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.1);
    max-height: 300px;
    overflow-y: auto;
    backdrop-filter: blur(8px);
    color: #ffffff;
}

.result-item {
    padding: 12px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    cursor: pointer;
    transition: background 0.3s;
}

.result-item:hover {
    background: rgba(255, 255, 255, 0.1);
}

